<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.urlencode</string>
	<key>connections</key>
	<dict>
		<key>76F7F079-0353-4E04-ABF2-CB14F27F63E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75FE7C28-E2D2-47E2-863D-588581C0BB1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A67E3DF2-9BEE-4AB4-B6DB-94AADBC693B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A6521481-11B8-45B6-B24A-B8DF4ECFADA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75FE7C28-E2D2-47E2-863D-588581C0BB1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A67E3DF2-9BEE-4AB4-B6DB-94AADBC693B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AF733B5E-6E80-441B-A532-6D1721FF3F4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6521481-11B8-45B6-B24A-B8DF4ECFADA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6E6E3AF-27A4-433F-B0A7-C1FA3C51641B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76F7F079-0353-4E04-ABF2-CB14F27F63E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Encode or decode text for use in a URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URL Encode/Decode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>urlencode</string>
				<key>subtext</key>
				<string>Encode text for use in a URL</string>
				<key>text</key>
				<string>Encode Text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AF733B5E-6E80-441B-A532-6D1721FF3F4B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>75FE7C28-E2D2-47E2-863D-588581C0BB1D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>require 'cgi'
puts CGI::escape("{query}")</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6521481-11B8-45B6-B24A-B8DF4ECFADA2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>require 'cgi'
puts CGI::unescape("{query}")</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76F7F079-0353-4E04-ABF2-CB14F27F63E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>urldecode</string>
				<key>subtext</key>
				<string>Decode text from a URL</string>
				<key>text</key>
				<string>Decode Text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6E6E3AF-27A4-433F-B0A7-C1FA3C51641B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A67E3DF2-9BEE-4AB4-B6DB-94AADBC693B0</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>75FE7C28-E2D2-47E2-863D-588581C0BB1D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>76F7F079-0353-4E04-ABF2-CB14F27F63E3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A6521481-11B8-45B6-B24A-B8DF4ECFADA2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A67E3DF2-9BEE-4AB4-B6DB-94AADBC693B0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AF733B5E-6E80-441B-A532-6D1721FF3F4B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D6E6E3AF-27A4-433F-B0A7-C1FA3C51641B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
