<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.volume</string>
	<key>connections</key>
	<dict>
		<key>91EB6BF1-7AC5-4F15-87C7-25B024BB1464</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C89CFF0-CFBC-4F28-BB47-1E893D27097B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AAA6FF02-81BE-4C2B-96D9-6A9DCF6F75B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86D77F20-C694-4009-B85E-D02DCF8F6F6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C69728AC-367A-4E22-A333-39D617956762</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A04343F1-8B9D-452F-9C57-EE9DD78AE17E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Control the system volume</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Volume Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>medium</string>
				<key>subtext</key>
				<string>Set the system volume to the halfway point</string>
				<key>text</key>
				<string>Set volume to medium</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AAA6FF02-81BE-4C2B-96D9-6A9DCF6F75B7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>osascript -e "set Volume 4" -e "beep"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86D77F20-C694-4009-B85E-D02DCF8F6F6F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>max</string>
				<key>subtext</key>
				<string>Set the system volume to maximum</string>
				<key>text</key>
				<string>Set volume to max</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C69728AC-367A-4E22-A333-39D617956762</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>osascript -e "set Volume 10" -e "beep"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A04343F1-8B9D-452F-9C57-EE9DD78AE17E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mute</string>
				<key>subtext</key>
				<string>Silence the system volume</string>
				<key>text</key>
				<string>Set volume to mute</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91EB6BF1-7AC5-4F15-87C7-25B024BB1464</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>osascript -e "set Volume 0"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C89CFF0-CFBC-4F28-BB47-1E893D27097B</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>1C89CFF0-CFBC-4F28-BB47-1E893D27097B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>86D77F20-C694-4009-B85E-D02DCF8F6F6F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>91EB6BF1-7AC5-4F15-87C7-25B024BB1464</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A04343F1-8B9D-452F-9C57-EE9DD78AE17E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AAA6FF02-81BE-4C2B-96D9-6A9DCF6F75B7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C69728AC-367A-4E22-A333-39D617956762</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
