<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.funnel</string>
	<key>connections</key>
	<dict>
		<key>12AE3819-4F96-44F3-9682-8319DEEF5145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E95D2DE9-305F-4CD9-82EC-F9ED18707583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>209AA3F7-E274-47AB-935F-231536495DA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CC40127-3F46-443F-BFB0-8FBD8800464C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>34E9C945-9CA5-44F4-883C-27CBE9AAA8BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FF77F89-DF15-44A1-928D-F4BF0ADE1516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A9654D5-EE83-4B5A-B9F4-6C07A17551B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36256A26-6927-4D8F-9BD4-38041C45FB31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8FD2BCBC-7A75-4632-915A-1EAD775DE965</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E95D2DE9-305F-4CD9-82EC-F9ED18707583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E95D2DE9-305F-4CD9-82EC-F9ED18707583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D73211E-EA3C-4D0E-9DFE-23D77769E75B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FCE29DBE-48A3-4BA6-8C42-FC6353A23DC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19782B8-79E5-40CB-A222-6853592911E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Funnel selected text or a file through various filters.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Funnel</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E95D2DE9-305F-4CD9-82EC-F9ED18707583</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>subtext</key>
				<string>Selected text should already be on the clipboard</string>
				<key>title</key>
				<string>Funnel clipboard through filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12AE3819-4F96-44F3-9682-8319DEEF5145</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D73211E-EA3C-4D0E-9DFE-23D77769E75B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>funnel</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>title</key>
				<string>Funnel selected text through filter.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8FD2BCBC-7A75-4632-915A-1EAD775DE965</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5A9654D5-EE83-4B5A-B9F4-6C07A17551B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -e 'tell application "Alfred 2" to search "| "'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36256A26-6927-4D8F-9BD4-38041C45FB31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Funnel</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>34E9C945-9CA5-44F4-883C-27CBE9AAA8BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>echo "{query}" | pbcopy
osascript -e 'tell application "Alfred 2" to search "|f "'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7FF77F89-DF15-44A1-928D-F4BF0ADE1516</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|f</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>ruby complete.rb "{query}"</string>
				<key>subtext</key>
				<string>The name of the selected file should already be on the clipboard</string>
				<key>title</key>
				<string>Funnel file through filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FCE29DBE-48A3-4BA6-8C42-FC6353A23DC3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>FILENAME=`pbpaste`
cat $FILENAME | {query} | pbcopy
pbpaste &gt; $FILENAME</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B19782B8-79E5-40CB-A222-6853592911E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>'</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>209AA3F7-E274-47AB-935F-231536495DA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	try
		tell application "Finder"
			set appname to name of application file id "com.cocoatech.PathFinder"
		end tell
		tell application "Path Finder"
			set selection_list to selection -- list of fsItems (fsFiles and fsFolders)
			set fileName to POSIX path of first item of selection_list
		end tell
	on error err_msg number err_num
		tell application "Finder"
			set fileSelection to the selection as text
			set fileName to POSIX path of fileSelection
		end tell
	end try
	do shell script "echo \"" &amp; fileName &amp; "\" | pbcopy"
	tell application "Alfred 2" to search "|f "
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6CC40127-3F46-443F-BFB0-8FBD8800464C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12AE3819-4F96-44F3-9682-8319DEEF5145</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1D73211E-EA3C-4D0E-9DFE-23D77769E75B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>209AA3F7-E274-47AB-935F-231536495DA8</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>34E9C945-9CA5-44F4-883C-27CBE9AAA8BA</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>36256A26-6927-4D8F-9BD4-38041C45FB31</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>5A9654D5-EE83-4B5A-B9F4-6C07A17551B6</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>6CC40127-3F46-443F-BFB0-8FBD8800464C</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>7FF77F89-DF15-44A1-928D-F4BF0ADE1516</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>8FD2BCBC-7A75-4632-915A-1EAD775DE965</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B19782B8-79E5-40CB-A222-6853592911E4</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E95D2DE9-305F-4CD9-82EC-F9ED18707583</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FCE29DBE-48A3-4BA6-8C42-FC6353A23DC3</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
