<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.focus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8C499FA5-A902-4E00-BB81-1F9C64463545</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EAA1EEB-DAEC-49AA-BCCC-C2A14618D05E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8F54334-C741-4DB8-8EB8-CCEB47FC8E05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C499FA5-A902-4E00-BB81-1F9C64463545</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Control the Focus app. (1.1)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>focus://toggle</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7EAA1EEB-DAEC-49AA-BCCC-C2A14618D05E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>focus.toggle</string>
				<key>triggername</key>
				<string>Toggle Focus</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>E8F54334-C741-4DB8-8EB8-CCEB47FC8E05</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>subtext</key>
				<string>Toggle the state of the Focus app.</string>
				<key>text</key>
				<string>Toggle Focus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C499FA5-A902-4E00-BB81-1F9C64463545</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7EAA1EEB-DAEC-49AA-BCCC-C2A14618D05E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8C499FA5-A902-4E00-BB81-1F9C64463545</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E8F54334-C741-4DB8-8EB8-CCEB47FC8E05</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
