<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.rabbitmq</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>78410D08-CAEC-43B8-A3B0-388849CAF48F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF9EF1C6-E655-4036-AC98-A0E114FC6589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D1F7D17-05E3-43B5-ABB1-DC3B0E2633AF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Alternative function</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Inteface with RabbitMQ</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RabbitMQ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>rabbitmq</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>ruby main.rb</string>
				<key>subtext</key>
				<string>Check status and access</string>
				<key>title</key>
				<string>Interface with RabbitMQ</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78410D08-CAEC-43B8-A3B0-388849CAF48F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>ruby action.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF9EF1C6-E655-4036-AC98-A0E114FC6589</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby action.rb "{query}" "cmd=true"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D1F7D17-05E3-43B5-ABB1-DC3B0E2633AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5D1F7D17-05E3-43B5-ABB1-DC3B0E2633AF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>78410D08-CAEC-43B8-A3B0-388849CAF48F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AF9EF1C6-E655-4036-AC98-A0E114FC6589</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
