<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>EF5CE88F-F985-4C36-9927-4BF0D331F687</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A9C1F76-D9B6-4DA4-A1F0-DA1D7427C199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel H Pavey</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fantastical</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Fantastical"		parse sentence q add immediately true	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4A9C1F76-D9B6-4DA4-A1F0-DA1D7427C199</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string>Create calendar entry</string>
				<key>text</key>
				<string>Fantastical</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF5CE88F-F985-4C36-9927-4BF0D331F687</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>4A9C1F76-D9B6-4DA4-A1F0-DA1D7427C199</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EF5CE88F-F985-4C36-9927-4BF0D331F687</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.spacecadet9.com</string>
</dict>
</plist>
