<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.showdesktop</string>
	<key>connections</key>
	<dict>
		<key>5687F188-0B4C-49AA-A378-D999A98F266D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C38F69EF-83B9-4FB3-A493-8D68957FE56A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Show the desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show Desktop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>osascript hide_all.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C38F69EF-83B9-4FB3-A493-8D68957FE56A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>show desktop</string>
				<key>subtext</key>
				<string>Hide all applications and show the desktop</string>
				<key>text</key>
				<string>Show the Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5687F188-0B4C-49AA-A378-D999A98F266D</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5687F188-0B4C-49AA-A378-D999A98F266D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C38F69EF-83B9-4FB3-A493-8D68957FE56A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
