<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.hitlist</string>
	<key>connections</key>
	<dict>
		<key>34D243C3-C86B-4E57-A0E1-F9251A02586A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>232C4EAF-36A0-44E9-952B-3B593A9B4078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B911D1C-C6BF-4F3D-B25B-793F5F98AA34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34D243C3-C86B-4E57-A0E1-F9251A02586A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Create a HitList task</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Create The HitList task</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Task '{query}' was created</string>
				<key>title</key>
				<string>Task created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>232C4EAF-36A0-44E9-952B-3B593A9B4078</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ta</string>
				<key>subtext</key>
				<string>Create a new HitList task</string>
				<key>text</key>
				<string>Create a HitList task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B911D1C-C6BF-4F3D-B25B-793F5F98AA34</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript hitlist.scpt "{query}" &gt; /dev/null
echo "{query}" | tr -d '\n'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34D243C3-C86B-4E57-A0E1-F9251A02586A</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>232C4EAF-36A0-44E9-952B-3B593A9B4078</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>34D243C3-C86B-4E57-A0E1-F9251A02586A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3B911D1C-C6BF-4F3D-B25B-793F5F98AA34</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
